.profile-page-container {
  background-color: #181818;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.profile-page-content {
  width: 90%;
  margin-left: 10%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.profile-page-top {
  position: relative;
  width: 100%;
  height: 200px;
}

.profile-cover-pic {
  position: absolute;
  top: 0;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: linear-gradient(to right, #0c9dbf, #3ab19b);
}

.profile-cover-pic img {
  position: absolute;
  max-width: 100%;
  width: 100%;
}

.change-cover-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
}

.change-cover-btn-bg {
  position: absolute;
  right: 0;
  top: 0;
  width: 35px;
  height: 35px;
  background: white;
  filter: blur(30px);
}

.profile-display-pic {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  top: 100%;
  left: 100px;
  transform: translate(0, -50%);
  border: 4px solid #0c9dbf;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.profile-display-pic img {
  position: absolute;
  object-fit:cover;
  max-width: 100%;
  min-height: 100%;
}

.change-profile-pic {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  text-align: center;
  color: white;
  font-family: 'Poppins';
  background: linear-gradient(to right, #0c9dbf, #3ab19b);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-size: 0.8em;
  opacity: 0;
  transition: all .3s;
}

.profile-display-pic:hover .change-profile-pic {
  opacity: 0.8;
}

.change-profile-pic i {
  font-size: 1.6em;
}

.profile-page-top .name {
  position: absolute;
  font-family: "Poppins";
  color: white;
  font-size: 24px;
  top: 89%;
  transform: translate(0, -50%);
  left: 220px;
}

.profile-stats {
  height: 80px;
  background: #222222;
  width: 100%;
  position: absolute;
  top: 200px;
  z-index: 0;
  font-family: "Poppins";
  color: white;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.3);
  padding: 0px 30px;
}

.profile-stats-info-wrapper {
  width: calc(100% - 350px);
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 350px;
}

.profile-stats-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
  padding: 20px 30px;
}

.profile-stats-info-wrapper .active {
  border-bottom: 4px solid #0c9dbf;
}

.profile-stats-info p {
  margin: 0;
}

.profile-stats-info h5 {
  margin: 0;
  color: white;
  opacity: 0.8;
}

.follow-btn {
  position: absolute !important;
  right: 10% !important;
  background: linear-gradient(to top right, #0c9dbf, #3ab19b) !important;
  padding: 6px 35px !important;
  box-shadow: 0 3px 10px rgba(58, 177, 155, 0.3) !important;
  border-radius: 25px !important;
  border: none !important;
  color: white !important;
  cursor: pointer;
  transition: all 0.3s;
}

.follow-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 3px 10px rgba(58, 177, 155, 0.6) !important;
}

.profile-page-main {
  margin-top: 80px;
  display: flex;
  background: #181818;
}

.profile-about {
  width: 20%;
  margin-top: 30px;
  margin-left: 30px;
  border-radius: 5px;
  padding: 25px;
}

.profile-about-list-item {
  display: flex;
}

.profile-about-list-item h5 {
  font-family: "Poppins";
  color: white;
  font-size: 0.8em;
  opacity: 0.5;
  padding-left: 10px;
}

.profile-bio h5{
  font-family: "Poppins";
  color: #0c9dbf;
  font-size: 1.1em;
}

.profile-bio h5 i{
  cursor: pointer;
  padding-left: 20px;
}

.profile-bio p{
  font-family: "Poppins";
  color: white;
  font-size: 0.9em;
  opacity: 0.8;
}

.profile-article-cards {
  width: 60%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  left: 30px;
  padding-bottom: 100px;
}

.profile-article-card {
  width: 80%;
  background: #222222;
  border-radius: 5px;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
  height: auto;
  position: relative;
  margin-top: 100px;
}

.profile-article-card:hover .profile-article-card-top {
  transform: translateY(-10px);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.7);
}

.profile-article-card-top {
  height: 200px;
  position: relative;
  width: 92%;
  margin-left: 4%;
  top: -50px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
}

.profile-article-card-author {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 999;
  display: flex;
  align-items: center;
}

.profile-article-card-author-info {
  margin-left: 10px;
}

.profile-article-card-author-info p {
  margin: 0;
  font-size: 0.8em;
}

.profile-article-card-author-info .date {
  font-size: 0.7em;
  opacity: 0.8;
}

.profile-article-card-author-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #0c9dbf;
}

.profile-article-card-author-avatar img {
  max-width: 100%;
}

.profile-article-card-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  border-radius: 5px;
}

.profile-article-card-image img {
  max-width: 100%;
  min-height: 100%;
  filter: brightness(60%);
}

.profile-article-card-image::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top right, #0c9dbf, #3ab19b);
  opacity: 0.1;
}

.profile-article-card-bottom {
  padding: 30px 30px 15px 30px;
  margin-top: -50px;
}

.profile-article-card-bottom .views {
  display: flex;
  align-items: center;
}

.profile-article-card-bottom .views h6 {
  color: white;
  font-size: 12px;
  opacity: 0.6;
  margin-bottom: 0;
  padding-left: 5px;
}

.profile-article-card-bottom h4 {
  color: white;
  font-size: 18px;
}

.profile-article-card-bottom h6 {
  color: white;
  font-size: 12px;
  opacity: 0.6;
}

.profile-article-card-bottom p {
  margin-bottom: 0;
  font-size: 10px;
  color: #f8b721;
  padding-top: 15px;
}

.users-list {
  width: 80%;
  height: auto;
  position: relative;
  margin-top: 30px;
}

.users-list-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background: #222222;
  border-radius: 5px;
  padding: 20px;
  width: 100%;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.user-username {
  margin-left: 10px;
  font-family: "Poppins";
  color: white;
}

.user-username p {
  margin: 0;
  font-size: 1em;
}

.user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #0c9dbf;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-avatar img {
  position: absolute;
  object-fit:cover;
  max-width: 100%;
  min-height: 100%;
}

/* @media only screen and (max-width: 962px) {
  .profile-stats-info-wrapper {
    margin-left: 250px;
  }

  .profile-page-main {
    flex-direction: column;
    align-items: center;
  }

  .profile-about {
    display: none;
  }

  .profile-article-cards{
    width: 65%;
    left: 0;
  }

  .profile-article-card { 
    width: 100%;
  }

} */

@media only screen and (max-width: 962px) {
  .profile-bio span{
    display: none;
  }
  .users-list {
    width: 100%;
  }
  .profile-page-main {
    margin-top: 180px;
    flex-direction: column;
    align-items: center;
  }
  
  .profile-article-cards{
    width: 85%;
    left: 0;
  }
  .profile-article-card { 
    width: 100%;
  }
  .profile-stats {
    height: 230px;
    top: 150px;
  }
  .profile-stats-info {
    justify-content: flex-end;
  }
  .profile-stats-info-wrapper {
    width: 100%;
    margin-left: 0;
    justify-content: space-between;
  }
  .profile-display-pic {
    top: 80%;
    left: 20px; 
    width: 80px;
    height: 80px;
    transform: translate(0, -80%);
  }
  .profile-page-top .name {
    left: 120px;
    font-size: 15px;
    top: 100%;
    left: 20px;
    z-index: 2;
  }
  .profile-cover-pic {
    height: 150px;
  }
  .follow-btn {
    top: -40px;
    right: 7% !important;
    font-size: 12px !important;
  }
  .profile-about {
    display: block;
    position: absolute;
    top: 185px;
    left: calc(10% - 5px);
    margin: 0;
    width: 100%;
  }
  .profile-about .profile-bio i {
    position: absolute;
    right: 5%;
    padding: 20px;
  }
}

@media only screen and (max-width: 675px) {
  .profile-page-content {
    width: 100%;
    margin-left: 0%;
  }
  .profile-about{
    left: -5px;
  }
}
