.create-profile-container {
  width: 100%;
  min-height: 100vh;
  background-color: #181818;
  display: flex;
}

.create-profile-form {
  width: 70%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins";
  flex-direction: column;
}

.create-profile-overlay {
  width: 30%;
  min-height: 100vh;
  background: -webkit-linear-gradient(to right, #eb0784, #ef5230);
  background: linear-gradient(to right, #eb0784, #ef5230);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
}

.create-profile-overlay h4 {
  color: white;
  font-family: "Poppins";
  font-size: 2em;
  padding: 20px;
}

.profile-form input,
.profile-form textarea,
.profile-form select {
  border: 1px solid #555555;
  border-radius: 3px;
  background-color: transparent;
  padding: 12px 10px;
  width: 100%;
  font-family: "Poppins", sans-serif;
  color: white;
}

.profile-form label {
  color: #cccccc !important;
  font-weight: bold;
}

.ant-select {
  color: white !important;
  border-radius: 3px;
}

.ant-select-selection {
  background-color: #181818 !important;
}
.ant-input-group-addon .ant-select .ant-select-selection {
  margin: -1px;
  border: 1px solid #555555 !important;
  box-shadow: none;
  border-radius: 3px;
}

.ant-select-arrow {
  color: white !important;
}

.ant-calendar-picker-icon {
  color: white !important;
}

.create-profile-form button {
  width: 70%;
  border-radius: 3px;
  border: 1px solid #ff7b39;
  background-color: #ff7b39;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 80ms ease-in;
  font-family: "Poppins";
  cursor: pointer;
}

.create-profile-form button:hover,
.create-profile-form button:focus,
.create-profile-form button:active {
  color: white;
  border: 1px solid rgb(209, 103, 51);
  background-color: rgb(209, 103, 51);
}

.create-profile-form button:active {
  transform: scale(0.95);
}

.create-profile-form button:focus {
  outline: none;
}

.create-profile-overlay-img {
  position: absolute;
  opacity: 0.2;
  object-fit: cover;
  max-width: 100%;
  min-height: 100%;
}

.ant-calendar-header a {
  color: #181818 !important;
}

@media only screen and (max-width: 675px) {
  .create-profile-overlay {
    display: none;
  }
  .create-profile-form {
    width: 100%;
    padding: 30px;
  }
}
